

.req--skeleton {

    width: 15rem;
    height: 3rem;
    background-color: rgba(95, 95, 95, 0.486);
    border-radius: .5rem;
    animation: pulse 1.5s ease-in-out infinite;
}


@keyframes pulse {

    0% {
        background-color: rgba(95, 95, 95, 0.486);;
    }

    50% {
        background-color: rgba(95, 95, 95, 0.3);;
    }

    100% {
        background-color: rgba(95, 95, 95, 0.486);;
    }
    
}